/*******************Css for login form*************************/

#edit-tfa-identifier {
  background-image: url("login-bg.png");
  background-position: left 50%; /* LTR */
  background-repeat: no-repeat;
  padding-left: 20px; /* LTR */
}

div.form-item-tfa-identifier {
  display: block;
}

#user-login-form ul {
  margin-top: 0;
}

#user-login ul {
  margin: 0 0 5px;
}

#user-login ul li {
  margin: 0;
}

#user-login-form .tfa-links {
  padding-bottom: 0;
}

#user-login .tfa-links {
  padding-left: 0; /* LTR */
}

#user-login-form .tfa-links li,
#user-login .openid-links li {
  display: none;
  list-style: none;
}

html.js #user-login-form li.tfa-link,
html.js #user-login li.tfa-link {
  display: block;
  margin-left: 0; /* LTR */
}

#user-login-form li.tfa-link a,
#user-login li.tfa-link a {
  background-image: url("login-bg.png");
  background-position: left top; /* LTR */
  background-repeat: no-repeat;
  padding: 0 0 0 1.5em; /* LTR */
}


/********************************************/


#two-factor-authentication-form .form-radios .form-item {
  float: left;
  width: 26%;
  height: 185px;
  border: 1px solid #dddddd;
  margin-right: 5%;
  margin-top: 3%;
  padding: 1%;
  border-radius: 10px;
}

#two-factor-authentication-form label div.method-description {
  min-height: 80px;
}

#two-factor-authentication-form .form-item .form-radio {
  float: left;
  margin: 5px 15px 5px 5px;
}

#two-factor-authentication-form .form-radios:after {
  content: "";
  display: block;
  clear: both;
}
.method {
  border-bottom: 1px solid #ccc;
  padding: 0 5px 5px 5px;
}
.method-description {
  padding: 10px 0;
}
#two-factor-authentication-form .form-radios .form-item input[type="radio"].activated-method {
  background-color: #aad695;
}
.tfa-top {
  padding: 10px 0;
}
.tfa-top-left h3 {
  margin: 0;
}
.tfa-top-left,
.tfa-top-center-activated,
.tfa-top-right {
  float: left;
  width: 33%;
  text-align: center;
}

.tfa-top:after {
  clear: both;
  content: "";
  display: block;
}

.tfa-top-left {
  text-align: left;
}

.tfa-top-right {
  text-align: right;
}

.tfa-info {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.rt,
.setup {
  padding: 10px;
  margin-top: 20px;
  background-color: #e8e8e8;
}
.rt.config {
  background-color: #bdd0f2;
}
.rt.active {
  background-color: #aad695;
}
.smart-only {
  background: rgba(0, 0, 0, 0) url(../images/smartphone.png) no-repeat scroll right bottom;
  width: 24px;
  height: 24px;
}
.all-device {
  background: rgba(0, 0, 0, 0) url(../images/all_device.png) no-repeat scroll;
  width: 77px;
  height: 32px;
}
.mobile-n-smart {
  background: rgba(0, 0, 0, 0) url(../images/feat_smart.png) no-repeat scroll right bottom;
  width: 48px;
  height: 24px;
}
.desk-n-smart {
  background: rgba(0, 0, 0, 0) url(../images/desk_smart.png) no-repeat scroll right bottom;
  width: 54px;
  height: 28px;
}
.device-support {
  float: right;
}
#two-factor-authentication-form .form-submit, .page-admin-config ul.tabs.secondary, #google-authenticator #edit-next {
  display: none;
}
select[id*='edit-country-code'] option[value="in"] {
  background-color: transparent;
  background: url(../images/flags.png) no-repeat 0 0;
  padding:4px;
  line-height: 21px;
  -webkit-appearance: none;
}
#tfa-user-contact-us {
  float: right;
  margin-left: 20px;
  /*display: none;*/
}
#edit-register .form-item-country-code {
  float: left;
  margin-top: 18px;
}
select[id*='edit-country-code'] {
  width: 50px;
}
#edit-register .form-item-phone {
  float: left;
  margin-left: 20px;
}
.clear {
  clear: both;
  line-height: 0;
  height: 0;
}
#edit-register .form-item-phone label {
  margin-left: -70px;
}

.tfa-top-center-activated {
  color: rgb(24, 203, 45);
  font-weight: bold;
}
.form-step {
  float: left;
  margin-right: 20px;
}
.step-1.form-step {
  width: 17%;
}
.step-2.form-step {
  width: 44%;
}
.step-3.form-step {
  width: 28%;
}
#edit-ga-otp {
  width: 50%;
}
.mo2f_table_layout {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 0px 19px 0px 20px;
  min-height: 373px;
}
.mo2f_small_layout {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 0px 24px 10px 20px;
}

.mo2f_support_layout {
  width: 93%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding-left: 20px;
}
.mo2f_help_layout {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding-left: 20px;
  min-height: 550px;
}

.mo2f_table_layout td strong {
  margin-left: 10px;
}

.mo2f_table_textbox {
  width: 100%;
  border-radius: 4px;
  height: 30px;
}
.mo2f_settings_table {
  width: 100%;
}

#mo2f_note {
  background-color: #d9edf7;
  border-radius: 4px;
  padding: 5px;
  color: #31708f;
  font-style: italic;
}

.mo2f_account_header {
  margin: 0px !important;
}

.mo2f_help_container {
  background-color: #ccc !important;
}

.mo2f_faqs>h3,
.mo2f_faqs>div {
  margin-left: 15px !important;
  margin-right: 5px !important;
}
.mo2f_faqs>div {
  padding: 5px 20px !important;
  border-left: 2px solid #ccc !important;
}

.mo2f_faqs>hr {
  border-top: 1px solid rgb(135, 129, 129) !important;
  margin-right: 20px !important;
}

.mo2f_faqs>h3>a:focus {
  box-shadow: 0px 0px 0px 0px #fff !important;
}

.mo2f_msgs {
  font-size: 14px !important;
}

.mo2f_success_container {
  background-color: rgba(185, 228, 155, 0.56) !important;
  margin-left: 3px !important;
}

.mo2f_error_container {
  background-color: rgba(251, 102, 0, 0.29) !important;
  margin-left: 3px !important;
}

.mo2f_column_padding {
  padding-right: 10px;
}

.mo2f_td_show {
  display: grid !important;
}

.mo2f_td_hide {
  display: none !important;
}

.carousel {
  position: relative;
  padding-bottom: 18px !important;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner>.item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
  height: 300px !important;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  line-height: 1;
  max-height: 300px !important;
  max-width: 600px !important;
}

@media all and (transform-3d) , ( -webkit-transform-3d ) {
  .carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner>.item.next,
  .carousel-inner>.item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner>.item.prev,
  .carousel-inner>.item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner>.item.next.left,
  .carousel-inner>.item.prev.right,
  .carousel-inner>.item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
  display: block;
}

.carousel-inner>.active {
  left: 0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner>.next {
  left: 100%;
}

.carousel-inner>.prev {
  left: -100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
  left: 0;
}

.carousel-inner>.active.left {
  left: -100%;
}

.carousel-inner>.active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity = 50);
  opacity: .5;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity = 90);
  outline: 0;
  opacity: .9;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: 10 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid 10073aa;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: 10073aa;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width:768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: -14px;
  }
}

.hidden {
  display: none;
}

.float-right {
  text-align: right;
}

.collapse {
  display: none;
  visibility: hidden;
  font-size: 14px !important;
}

.collapse.in {
  display: block;
  visibility: visible;
}

.collapsing {
  position: relative;
  font-size: 14px !important;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .20s;
  -o-transition-duration: .20s;
  transition-duration: .20s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

.mo2f_thumbnail {
  width: 350px;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.mo2f_thumbnail>img,
.mo2f_thumbnail a>img {
  margin-right: auto;
  margin-left: auto;
}

a.mo2f_thumbnail:hover,
a.mo2f_thumbnail:focus,
a.mo2f_thumbnail.active {
  border-color: #337ab7;
}

.mo2f_thumbnail .caption {
  padding: 9px;
  color: #333;
}

.mo2f_thumbnail label {
  font-weight: bold;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: 1000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity = 20);
  opacity: .2;
}

.close:hover,
.close:focus {
  color: 1000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity = 50);
  opacity: .5;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.modal-open {
  overflow: hidden !important;
  position: fixed  !important;
  width: 100% !important;
}

.modal {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000 !important;
  display: none;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 80px) !important;
  -ms-transform: translate(0, 80px) !important;
  -o-transform: translate(0, 80px) !important;
  transform: translate(0, 80px) !important;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.mo2f-modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: 1000 !important;
  filter: alpha(opacity = 50)!important;
  opacity: 0.9 !important;
  height: 100% !important;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -10px !important;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media ( min-width :768px) {
  .modal-dialog {
    width: 373px;
    margin: 50px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media ( min-width :992px) {
  .modal-lg {
    width: 900px;
  }
}

.center {
  text-align: center !important;
}
.activeMethod {
  background-color: rgba(99, 143, 223, 0.42) !important;
  margin-left: 23%;
}
.inactiveMethod {
  background-color: rgba(221, 221, 221, 0.66) !important;
  margin-left: 20.5%;
}
.form-item.form-type-checkbox.form-item-field-registered-with-miniorange-und {
  display: none;
}

#tfa-user-advanced-settings .form-item .form-type-checkbox {
  display: inline-block !important;
}

#tfa-user-advanced-settings .form-item .description, #tfa-user-settings .form-type-checkbox .description, #tfa-user-settings .form-type-radios .description {
  background-color: #d9edf7;
  color: #31708f;
  font-style: italic;
  padding: 7px;
  line-height: 17px;
  border-radius: 10px;
}

#tfa-user-settings .form-type-radios .description {
  background-color: #d9edf7;
  color: #31708f;
  font-style: italic;
}

.page-admin-config-mo2f #block-system-main {
  width: 50%;
  float: left;
  display: inline-block;
}

.page-admin-config-mo2f #block-two-factor-authentication-contact-us {
  display: inline-block;
  width: 50%;
}

.page-admin-config-mo2f-mo2f-tfa-setup-two-factor #block-system-main {
  width: 100%;
}

#email-verification-set .email-verification {
  text-align: center;
}

#email-verification-set #edit-back-to-setup {
  float: left;
}

#tfa-user-configure-mobile #displayQrCode, #google-authenticator #displayGaCode {
  text-align: center;
}

#google-authenticator .ga_auth_hr {
  border-bottom: 1px solid #EBECEC;
  padding-bottom: 10px;
}

#google-authenticator .para {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

#google-authenticator .form-type-radio, #google-authenticator #edit-select-phone {
  padding: 5px 5px;
}

#google-authenticator .step-2 {
  border-right: 1px solid #EBECEC;
  border-left: 1px solid #EBECEC;
  padding: 0 20px;
}

#google-authenticator .step-2 ol {
  padding-bottom: 10px;
}

#edit-support .form-item-country-code {
  float: left;
  margin-top: 23px;
}

#edit-support .form-item-phone {
  position: relative;
}

#edit-support .form-item-phone label {
  left: 0px;
  position: absolute;
}

#edit-support #edit-phone--2, #edit-support #edit-phone {
  top: 33px;
  position: absolute;
  width: 85%;
  left: 65px;
}

.header-methods {
  float: left;
  width: 31%;
  margin-left: 25px;
}

.header-methods-wrap:after {
  clear: both;
  display: block;
  content: "";
}

.methods-square {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
}

.methods-square.am {
  background-color: #AAD695;
}

.methods-square:before {
  content: "-";
  margin-left: 20px;
}

.methods-square.cm {
  background-color: #BDD0F2;
}

.methods-square.um {
  background-color: #E8E8E8;
}

.header-methods-wrap {
  margin-top: 10px;
}

.scan-ga-secret {
  width: 50%;
  background-color: #F9EDBE;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  color: #444457;
  font-size: 14px;
}

.scan-ga-secret-text {
  font-size: 11px;
  font-weight: normal;
  color: #666666;
}

.form-item-ga-otp label {
  display: inline;
}

fieldset#edit-cannot-scan {
  border: none;
}

fieldset#edit-cannot-scan .fieldset-title {
  text-transform: capitalize;
}

.page-admin-config-mo2f-mo2f-tfa-advanced-settings .description {
  line-height: 17px;
}

#displayQrCode {
  margin-bottom: 45px;
  margin-top: 45px;
}

#displayQrCode img {
  width: 200px;
  height: 200px;
}

.textcolorred {
  color: red;
}

.page-user-tfa-authenticate #page-title {
  display: none;
}

.page-user-tfa-authenticate #content {
 text-align: center;
}

.page-user-tfa-authenticate #displayQrCode {
 margin-top: 5px;
}

.ga_auth_st2 {
 /*border-bottom: 1px solid #EBECEC;*/
 float: left;
 padding-bottom: 10px;
 padding-left: 120px;
 padding-right: 120px;
}

.ga_auth_st3 {
 border-bottom: 1px solid #EBECEC;
}

.ga_auth_hr_st1 {
 float: left;
}

.ga_text {
 clear: both;
}

#edit-phone-is-offline, #edit-forgot-phone, #edit-back-to-login, #edit-validate-ga {
 float: left;
}

#tfa-user-configure-mobile .closed {
 display: none;
}

#tfa-user-login-2-facter #edit-validate-ga {
  margin-left: 28%;
}

.page-user-tfa-authenticate .qr-actions {
  display: inline-block;
  width: 50%;
}

#tfa-user-already-registered #edit-forgotpasswordform {
 display: none;
}
